/*
 * COLOR VARIABLES
 * Variable names are based on BEM syntax, but typically
 * do not contain a block keyword since they are globally available
 * ----------------------------------------------------------------------- */

/*-----Primary colors-----*/
$primary--blue:	#57ccf0;
$primary--orange: #eb7f00;
$primary--red: #b00000;
$primary--green: #679900;


/*-----Background colors-----*/
$bg--gray: #f5f7fa;
$bg--light-gray: #fafafa;



/*-----Typography colors-----*/
$text--dark-gray: #222;
$text--medium-gray: #888;
$text--light-gray: #eaeaea;
$text__link--dark-blue: #31b5dd;



/*-----Border colors---------*/
$border--light-gray: #eee;
